<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <DIO>
    <ChannelId>1</ChannelId>
    <Name>DIO-1</Name>
  </DIO>
  <DIO>
    <ChannelId>2</ChannelId>
    <Name>DIO-2</Name>
  </DIO>
  <DIO>
    <ChannelId>3</ChannelId>
    <Name>DIO-3</Name>
  </DIO>
  <DIO>
    <ChannelId>4</ChannelId>
    <Name>DIO-4</Name>
  </DIO>
  <DIO>
    <ChannelId>5</ChannelId>
    <Name>DIO-5</Name>
  </DIO>
  <DIO>
    <ChannelId>6</ChannelId>
    <Name>DIO-6</Name>
  </DIO>
  <DIO>
    <ChannelId>7</ChannelId>
    <Name>DIO-7</Name>
  </DIO>
  <DIO>
    <ChannelId>8</ChannelId>
    <Name>DIO-8</Name>
  </DIO>
</Root>