<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Event>
    <add key="test" value="0" />
  </Event>
  <Marker>
    <add key="test" value="1" />
  </Marker>
  <AdditionTrigger>
    <Start>
      <add key="Immediately" vlaue="false"/>
      <add key="Attime" vlaue="false"/>
    </Start>
  </AdditionTrigger>
</configuration>